<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.7.0/main.min.css">
<link
  rel="stylesheet"
  href="https://unpkg.com/tippy.js@6/themes/light.css"
/>

<div class="content-wrapper px-4 py-2">
    {{!-- <div class="content-header">
        <h1>Course</h1>
    </div> --}}
    <div class="content px-2">
        <div id="calendar-container">
            <div id="calendar"></div>
        </div>
    <div>
        <button class="btn btn-primary">Add Classrrom</button>
    </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.7.0/main.min.js"></script>

<script src="/js/adminClassroom.js"></script>
