<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.7.0/main.min.css">
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />


<div class="content-wrapper px-4 py-2">
    {{!-- <div class="content-header">
        <h1>Course</h1>
    </div> --}}
    <div class="content px-2">
        <div id="calendar-container">
            <div id="calendar"></div>
        </div>
        <div>
            <button class="btn btn-primary">print gear list</button>
        </div>
    </div>
    {{!-- <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center">Pool A</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                        class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title text-center">PADI Discover Snorkeling Instructor: Dave Cheung session: 1</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>name</th>
                                <th>mask</th>
                                <th>regulator</th>
                                <th>bcd</th>
                                <th>wetsuit</th>
                                <th>boots</th>
                                <th>fins</th>
                                <th>others</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <th>ray</th>
                                <th>yes</th>
                                <th>yes</th>
                                <th>s</th>
                                <th>s</th>
                                <th>39</th>
                                <th>s</th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title text-center">PADI Discover Snorkeling Instructor: Dave Cheung session: 1</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>mask</th>
                                <th>regulator</th>
                                <th>bcd</th>
                                <th>wetsuit</th>
                                <th>boots</th>
                                <th>fins</th>
                                <th>others</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center">Pool A</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                        class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title text-center">PADI Discover Snorkeling Instructor: Dave Cheung session: 2</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>mask</th>
                                <th>regulator</th>
                                <th>bcd</th>
                                <th>wetsuit</th>
                                <th>boots</th>
                                <th>fins</th>
                                <th>others</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title text-center">PADI Discover Snorkeling Instructor: Dave Cheung session: 3</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>mask</th>
                                <th>regulator</th>
                                <th>bcd</th>
                                <th>wetsuit</th>
                                <th>boots</th>
                                <th>fins</th>
                                <th>others</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>test only one</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> --}}
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.7.0/main.min.js"></script>
<script src="/js/testBundle.js"></script>
<script src="/js/adminPoolGear.js"></script>