
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.7.0/main.min.css">

<div class="content-wrapper px-4 py-2">
    {{!-- <div class="content-header">
        <h1>Course</h1>
    </div> --}}
    <div class="content px-2">
        <div id="calendar-container">
            <div id="calendar"></div>
        </div>
    <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBoatModal" >Add Boat Schedule</button>
    </div>
    </div>
</div>

{{!-- add schedule modal --}}
<div class="modal fade" id="addBoatModal" tabindex="-1" aria-labelledby="addBoatModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBoatModalLabel">Add Schedule</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addCourse" action="/admin/api/course/schedule" method="POST">
          <div class="mb-3 input-field ">
              <label for="" class="col-form-label">boat name:</label>
            <select id="course-picker" name="course_id">
                <option value="" disabled selected>Choose your option</option>
                
            </select>
          </div>
          <div class="mb-3" id="order-form">
            {{!-- //TODO: need to handle if two group of people in one class --}}
            <label for="message-text" class="col-form-label">add order:</label>
            <button type="button" class="btn btn-primary" id="add-order-btn"><i class="fas fa-plus"></i>
                add order</button>
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Order
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i></button>
                    </div>

                </div>
                <div class="card-body">
                    <fieldset>
                        <input placeholder="Name" type="text" tabindex="1" name="name" required>
                    </fieldset>
                    <fieldset>
                        <input placeholder="Capacity" type="number" tabindex="2" name="capacity" required>
                    </fieldset>
                    <fieldset>
                        <input placeholder="Type" type="text" tabindex="3" name="type" required>
                    </fieldset>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button type="submit" class="btn btn-primary" form="addCourse">add schedule</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.7.0/main.min.js"></script>
<script src="/js/adminboat.js"></script>
<script>
    
</script>