<div class="advancedContainer">
 <!-- Button trigger modal advanced diving-->
<div>
<button type="button" class="advanced" data-toggle="modal" data-target="#advancedModalLong"><strong>Advanced Open Water Diver</strong>
  </button> 
 
</div>
<!-- Modal -->

<div class="modal fade" id="advancedModalLong" tabindex="-1" role="dialog" aria-labelledby="advancedModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advancedModalLongTitle">Advanced Open Water Diver</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>12 years old above, with good physical health & has been certified as Open Water Diver</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>* 2 Academic Training includes 5 Adventure Dives including the Deep Adventure Dive, the Underwater Navigator Adventure Dive and 3 of the following:
                <br>
                    <li>Night Dive</li>
                    <li>Boat dive</li>
                    <li>Search & Recovery</li>
                    <li>DSMB</li>
                    <li>U/W Naturalist</li>
                    <li>Peak Performance Buoyancy</li>
                    <li>AWARE Fish Identification</li>
                    
                    *2 Days & 1 Night Open Water Training (5 boat dives in total)
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD4,000.00@ (English, Cantonese or Mandarin)
                <br>
                1 pax: HK4,000 per person
                <br>
                2 pax: HK3,400 per person or more
    
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>PADI manual and log book (except online training) </li>
                        <li>Training Fee</li>
                        <li>All Fundamental SCUBA Diving equipment rental during the course</li>
                        <li>PADI certification (PADI eCard) after all requirements are met</li>
                        <li>PADI membership</li>
            </td>
                        <br>
                     
        </table>
        <p><strong><h6>Who should take this course?</h6></strong><br>
        PADI (Junior) Open Water Divers (or equivalent) who are at least 12 years old are ready to step up and enroll in an Advanced Open Water Diver course. Young divers may only participate in certain Adventures Dives – feel free to contact us for more details.<br>
        If you’re already an Adventure Diver, you only need to complete two more Adventure Dives to earn the Advanced Open Water Diver certification.
        </p>
        
        <br>
        <p><strong><h6>What will you learn?</h6></strong><br>
        You’ll plan your learning path with your instructor by choosing from a long list of Adventure Dives. There are two required dives – Deep and Underwater Navigation – and you can choose the other three, for a total of five dives, together with your instructor.<br>
        During the Deep Adventure Dive, you learn how to plan dives to deal with the physiological effects and challenges of deeper scuba diving. The Underwater Navigation Adventure Dive refines your compass navigation skills and helps you better navigate using kick-cycles and time.
        <br>
        The other knowledge and skills you get vary with your interest and the adventures you have – i.e. photography, buoyancy control, fish identification, exploring wrecks, night diving and Search & Recovery many more.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="advanced_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>



 

</div>