<div class="beginnerContainer">
 <!-- Button trigger modal Discovery diving-->

<div class="box-container" data-toggle="modal" data-target="#discoveryModalLong"><div id="discovery" class="box">
</div>
<strong>Discovery Scuba Diving</strong>
</div>
<!-- Modal -->

<div class="modal fade" id="discoveryModalLong" tabindex="-1" role="dialog" aria-labelledby="discoverModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discoverModalLongTitle">Discovery Scuba Diving</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>10 years old or above, good physical health</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>The PADI Discover Scuba Diving program lets you experience the thrill of diving under the supervision of a PADI Professional in Open Water. During your adventure, you'll master some basic concepts and scuba skills. You may also discover excitement and adventure - freedom and serenity. Nothing compares to the "weightless" exhilaration of breathing underwater. Only a diver knows the feeling!
                <br>
                1 Academic Training; and
                <br>
                1 Open Water boat diving / Pool diving
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>Open Water Boat Dives: HK1,300
                <br>
                Pool Dive: HK$800    
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>Open Water
                        <li>All scuba Equipment Rental</li>
                        <li>Scuba Tank Rental</li>
                        <li>Open Water Training Fee</li>
            </td>
                        <br>
            <tr>
                <th></th>
                    <td>Pool   
                        <li>All Scuba Equipment Rental</li>
                        <li>Scuba Tank Rental</li>
                        <li>Pool Training Fee</li>
                   </td>                      
                </td>    
            </tr>           
        </table>
        <p><strong><h6>What will you learn?</h6></strong><br>
        Have you always wondered what it’s like to breathe underwater? If you want to try scuba diving, but aren’t quite ready to take the plunge into a certification course, Discover Scuba Diving is for you. We, PADI 5 Stars Career Development Center, offer this program either in a pool or from a dive boat. While not a scuba certification course, Discover Scuba Diving is a quick and easy introduction to what it takes to explore the underwater world. To sign up for a PADI Discover Scuba Diving experience, you must be at least 10 years old. No prior experience with scuba diving is necessary, but you need to be in reasonable physical health. Are you ready to try it out? Immediately contact us to schedule a Discover Scuba Diving experience near you.
        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
        <div class="discovery_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
</div>
      </div>
      
    </div>
  </div>
</div> 



<!-- Button trigger modal Snorkel diver-->

<div class="box-container" data-toggle="modal" data-target="#snorkelModalLong"><div id="snorkel" class="box">
</div>
<strong>Discovery Snorkeling</strong>
</div>

<!-- Modal -->

<div class="modal fade" id="snorkelModalLong" tabindex="-1" role="dialog" aria-labelledby="snorkelModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="snorkelModalLongTitle">Discover Snorkeling</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>Anyone</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>1 theory session
                <br>
                half day open sea activities
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HK500</td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>Open Water
                        <li>Mask, Snorkel, Fin & Buoyancy Jacket</li>
                        <li>Open Water Training</li>
            </td>   
        </table>
        <p><strong><h6>What will you learn?</h6></strong><br>
        The Discover Snorkeling experience introduces you to the underwater world. Discover Snorkeling activities are promoted as trips, tours and experiences, rather than training. So everyone could join the program. A good opportunity for an adventures gathering.
        <br><br>
        Discover Snorkeling focuses on providing you a guidance and assistance by our professional PADI Members. So you could have the most enjoyable moment with contact with the aquatic life.
        Designed for the snorkeler with little or no experience in the activity. We will introduce the options available in snorkeling equipment; show you how to properly fit a mask, snorkel and fins; how to use a snorkel for airway control and the proper fin strokes to glide comfortably over the surface of the water.</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
        <div class="snorkel_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
</div>
      </div>
    </div>
  </div>
</div> 

{{!-- /*Open Water*/ --}}
<div class="box-container" data-toggle="modal" data-target="#openWaterModalLong"><div id="openWater" class="box">
</div>
<strong>Open Water Diver</strong>
</div>

<!-- Modal -->

<div class="modal fade" id="openWaterModalLong" tabindex="-1" role="dialog" aria-labelledby="openWaterModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openWaterModalLongTitle">Open Water Diver</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>12 years old, able to swim and with physical condition suitable for diving
                <br>
                Water skill requirements:
                <br>
                1. Student divers need to swim with bare hands for 200 meters on the surface;<br>
                Or Wear a mask, snorkel and fins and swim continuously for 300 meters. {Not timed}
                <br>
                2. The student diver is not using any swimming aids,<br>
                Swim/float in the water for 10 minutes.
            </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                <li>Theory: Cover 5 Knowledge Reviews & Academic Training (6-8 hrs), <br>  4 Quizzes and a Written Exam</li> 
                <li>Confined Water Training (6 hrs) pool</li> 
                <li>Open Water training: 4 dives in total. 2 days on the boat and 2 open water dives each day.</li> 
                </td> 
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HK4,500@(English, Cantonese or Mandarin)
                <br>
                1 pax: HK4,500 per person
                <br>
                2 pax: HK$4,300 per person or more    
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                    <li>PADI manual and log book (except online training)</li>
                    <li>Training fee</li>
                    <li>PADI Recreational Dive Planner (RDP)</li>
                    <li>Pool entrance and boat fee</li>
                    <li>All Fundamental (PADI eCard) after all requirements are met</li>
                    <li>PADI membership</li>
                    </td>
            </tr>           
        </table>
        <p><strong><h6>What will you learn?</h6></strong><br>
        The PADI Open Water Diver course includes three parts: Knowledge Development, Confined Water Dives, and Open Water Dives. Knowledge Development covers the principles, concepts and terms you need to know for dive safety and enjoyment. During the Confined Water Dives, you learn and practice scuba skills in a pool or water with pool-like conditions. You'll enjoy making one or more minidives, which take you through the same steps you follow when you make open water dives. To complete training you practice, apply and demonstrate what you learn during four Open Water Dives at a local dive site.
        <br>
        Earning a PADI Open Water Diver certification shows that you met the course requirements. Dive centers and resorts require proof of certification before they will rent scuba equipment, fill scuba cylinders or book dive excursions. As a PADI Open Water Diver, you'll be trained to a maximum depth of 18 metres/60 feet, and are qualified to dive in conditions as good as, or better than, those in which you trained. It's just the beginning of a lifetime filled with dive adventures.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
        <div class="openWater_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
</div>
      </div>
    </div>
  </div>
</div> 


</div>