<div class="specialtyContainer">
 <!-- Button trigger modal aware diving-->
<div>
<button type="button" class="aware" data-toggle="modal" data-target="#awareModalLong"><p class="button-text">AWARE - Fish Identification</p>
  </button> 
 
</div>
<!-- Modal -->

<div class="modal fade" id="awareModalLong" tabindex="-1" role="dialog" aria-labelledby="awareModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="awareModalLongTitle">AWARE - Fish Identification</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>PADI (Junior) Open Water Divers who are at least 10 years old are eligible to take the Underwater Naturalist Specialty course.</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>The PADI Project AWARE Fish Identification Specialty course provides you with the fish identification basics so that next time, you know the answer.<br>
                Fish survey techniques and strategies.<br>
                About Project AWARE activities that can help protect aquatic life.<br>
                During two dives you gain hands-on experience in looking for and identifying the fascinating fish you see underwater.<br>
                How to identify characteristics of local fish families and species.
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,000</td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) Theory</li>
                        <li>(2) Project Aware Fish ID Certificate Card</li>
                        <li>(3) Boat dive, 2 Training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        “What was that fish?” is a common question heard after a dive. If you want to be the scuba diver with the answers, instead of the one asking the questions, then take the Fish Identification Specialty course. You’ll enjoy your dives even more when you recognize the creatures that you see and can identify the main fish families and their characteristics.
        Once you learn to recognize what types of fish you see, you’ll find it easier to reference the exact species after a scuba dive. For example, a butterfly fish in the Caribbean has a similar shape to a butterfly fish in Southeast Asia, but colors and markings may be wildly different. If you know what fish family it belongs to, you can more easily look up the local name or at least be able to intelligently ask the local scuba instructor what you saw.
        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="aware_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


 <!-- Button trigger modal Nitrox diving-->
<div>
<button type="button" class="nitrox" data-toggle="modal" data-target="#nitroxModalLong"><p class="button-text">Enriched Air Nitrox</p>
  </button> 
 
</div>
<!-- Modal -->

<div class="modal fade" id="nitroxModalLong" tabindex="-1" role="dialog" aria-labelledby="nitroxModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nitroxModalLongTitle">Enriched Air Nitrox</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>Min. 12 years old, Must be a PADI Open Water Diver (or qualifying certification from another organization)</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    <li>Learn about working with air containing high O2 percentages (max 40%) </li>
                    <li>Learn and practice analyzing a tank filled with Enriched Air</li>
                    <li>Plan enriched air dives using the computer</li>
                    <li>4-6 hours duration</li>
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD1,400
                    <br>
                    Open Water Practice with Enriched Air Nitrox (Optional) 
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Enriched Air Manuel </li>
                        <li>(2) 32%, 36% & DSAT RDP slate</li>
                        <li>(3) PADI Encriched Air Diver Certificate (C-CARD)</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        The PADI Enriched Air Diver course is PADI’s most popular specialty scuba course. Why? Because scuba diving with enriched air nitrox gives you more no decompression time, especially on repetitive scuba dives. If staying down longer and getting back in the water sooner sounds appealing, then don’t hesitate to become an enriched air diver.
        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="nitrox_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>
 

  <!-- Button trigger modal Dry suit diving-->
<div>
<button type="button" class="drySuit" data-toggle="modal" data-target="#drySuitModalLong">
  </button> 
 
</div>
<!-- Modal -->

<div class="modal fade" id="drySuitModalLong" tabindex="-1" role="dialog" aria-labelledby="drySuitModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="drySuitModalLongTitle">Dry Suit Diving</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>PADI Open Water Diver or Junior Open Water Diver certification (or qualifying certification from another organization) Minimum age: 12 years old</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    Wanna stay warm and toasty on a dive? Then stay out of the water. What? Stay out of the water? Yes! Unlike a wetsuit, a dry suit seals you off from the outside water. In the PADI Dry Suit Diver Specialty course, you’ll learn how to use a dry suit. And that keeps you warm! Even in very cold water.<br>
                    During the Dry Suit Specialty Course, we will learn the background of Dry Suit, after practise in confined water, we will able to plan, arrange, the buogant control and skill while in two open water training. And preparing the Ice Diving overseas in further.

                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,500
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Dry Suit Manuel </li>
                        <li>(2) Use of the Dry Suit during training</li>
                        <li>(3) PADI Dry Suit Driver C-CARD</li>
                        <li>(4) Pool or Confined water training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        Want to stay warm? Want to extend your scuba diving season? Then dive dry. A dry suit seals you off from the water and keeps you comfortable, even in surprisingly cold water. There is incredible diving in the world’s cooler regions and in some areas, conditions are even better in colder months. Becoming a dry suit diver allows you to expand your boundaries and dive more places, more often.
        <br>
        The first thing you’ll discover is which dry suit style and accompanying undergarments are right for you and the diving you’ll do. Then you’ll learn how to take care of your dry suit. During two dives, in addition to a confined water dive, you’ll practice:
        <br>
        Putting on and taking off your dry suit with minimal assistance.<br>
        Mastering buoyancy control using your dry suit.<br>
        Dive safety procedures when using a dry suit.<br>
        You may be able to get college credit for the Dry Suit Diver course – ask your instructor.<br>
        Also, the first dive of this PADI Specialty Diver course may credit as an Adventure Dive toward your Advanced Open Water Diver certification – ask your instructor about earning credit.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="drySuit_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


 <!-- Button trigger modal Driver Propulsion Vehicle Specialty (DPV) diving-->
<div>
<button type="button" class="DPV" data-toggle="modal" data-target="#DPVModalLong"><p class="button-text">Driver Propulsion Vehicle Specialty (DPV)</p>
  </button> 
 
</div>
<!-- Modal -->

<div class="modal fade" id="DPVModalLong" tabindex="-1" role="dialog" aria-labelledby="DVPModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DPVtModalLongTitle">Driver Propulsion Vehicle Specialty (DPV)</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>PADI Open Water Diver or Junior Open Water Diver certification (or qualifying certification from another organization) Minimum age: 12 years old</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    Maintaining your DPV.<br>
                    How to plan dives, including procedures for staying with your buddy.<br>
                    DPV-handling skills, such as making proper descents and ascents.<br>
                    Potential problems and ways to deal with them.<br>
                    The PADI Diver Propulsion Vehicle course guides you in choosing the right DPV for you. 
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,500
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) Theory </li>
                        <li>(2) PADI Diver Propulsion Vehicle Diver certification card</li>
                        <li>(3) Boat dive, 2 training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        DPVs offer a thrilling way for scuba divers to see a lot of underwater territory in a short amount of time. They scoot you through the water allowing you to glide over reefs, buzz around a large wreck or weave through a kelp forest. Whether making a shore or boat dive, a DPV is a great way to see more and have fun doing it.
        <br>
        <p><strong><h6>Equipment</h6></strong><br>
        Of course, you’ll need a DPV along with your basic scuba equipment. If you have your own DPV, your instructor will have you complete all your training using it. Ask your PADI Instructor or local dive center staff which DPVs are available, and what other additional equipment you may need for your scuba diving exploration with a DPV.
        

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="DPV_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal Wreck Diver diving-->
<div>
<button type="button" class="wreck" data-toggle="modal" data-target="#wreckModalLong"><p class="button-text">Wreck Diver Specialty</p>
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="wreckModalLong" tabindex="-1" role="dialog" aria-labelledby="wreckModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="wreckModalLongTitle">Wreck Diver Specialty </h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>Must be a PADI Adventure Diver certification (or qualifying certification from another organization) and be at least 15 years old. Number of Dives: 4 dives over 2 days</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    Whether sunk intentionally or tragically, whether a sunken ship, a plane or an automobile, the call of wrecks is nearly irresistible to divers. Through the PADI Wreck Diver Specialty course, you get the skills, knowledge and procedures you need to answer the call of wreck diving. 
                    <br>
                    Certification counts toward the PADI Master Scuba Diver rating. The underwater world needs heroes. Be one. Learn how to conserve the aquatic environment
 
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,800
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Wreck dive Manuel </li>
                        <li>(2) Wreck dive theory</li>
                        <li>(3) PADI Wreck Diver Certificate Card</li>
                        <li>(4) 2 Boat dive, 2 training dives per day</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        There are many different types of wrecks, some of which are protected by laws that guard their historical and cultural significance. Your training starts by reviewing guidelines for researching and respecting wrecks. During four dives you’ll learn:<br>
        Safety considerations for navigating and exploring wrecks.<br>
        Surveying and mapping a wreck.<br>
        Using penetration lines and reels to guide exploration.<br>
        Techniques to avoid kicking up silt or disturbing the wreck and its inhabitants.<br>
        You may be able to get college credit for the Wreck Diver course – ask your instructor.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="wreck_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal Deep Diver diving-->
<div>
<button type="button" class="deep" data-toggle="modal" data-target="#deepModalLong"><p class="button-text">Deep Diver Specialty</p>
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="deepModalLong" tabindex="-1" role="dialog" aria-labelledby="deepModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deepModalLongTitle">Deep Diver Specialty </h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>PADI Adventure Diver or have a qualifying certification from another training organization<br>
                Minimum age: 15 years old 
                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    The Deep Diver specialty course is intended to serve as a safe, supervised introduction to deeper diving within the limits of recreational scuba diving. Training should emphasize fun and safety.
                    <br>
                    The goals of PADI Deep Diver training are:<br>
                    To develop the student’s theoretical knowledge of deep diving. To enable the student to plan, organize and make no-decompression dives between the depths of 18 metres/60 feet to 40 metres/130 feet.

                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Course Manuel </li>
                        <li>(2) PADI Deep Diver Certificate Card</li>
                        <li>(3) Boat dive, 2 training dives per day</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        The purpose of the PADI Deep Diver specialty course is to familiarize divers with the skills, knowledge, planning, organization, procedures, techniques, problems, hazards and enjoyment of diving between the depths of 18 metres/60 feet to 40 metres/130 feet.
        <br>
        During the Deep Adventure Dive, you learn how to plan dives to deal with the physiological effects and challenges of deeper scuba diving. The Underwater Navigation Adventure Dive refines your compass navigation skills and helps you better navigate using kick-cycles, visual landmarks and time.


        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="deep_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal Underwater Naturalist diving-->
<div>
<button type="button" class="naturalist" data-toggle="modal" data-target="#naturalistModalLong">
    {{!-- <strong>Underwater Naturalist Specialty Diver</strong> --}}
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="naturalistModalLong" tabindex="-1" role="dialog" aria-labelledby="naturalistModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="naturalistModalLongTitle">Underwater Naturalist Specialty Diver</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>PADI (Junior) Open Water Divers who are at least 10 years old are eligible to take the Underwater Naturalist Specialty course
                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    Through class discussions and on two scuba dives, you’ll learn:
                    <br>
                    Key differences between the terrestrial and aquatic worlds.
                    Major aquatic life groupings, interactions and information that dispels myths.<br>
                    Responsible interactions with aquatic life.<br>
                    The first dive of this PADI Specialty Diver course may credit as an Adventure Dive toward your Advanced Open Water Diver certification – ask your instructor about earning credit.
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Course Manuel </li>
                        <li>(2) PADI Specialty Underwater Naturalist Certificate</li>
                        <li>(3) Boat dive, 2 training dives per day</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        Take the PADI Underwater Naturalist Specialty course and you’ll see new things, even on the most familiar scuba diving sites. Why? Because when know more about symbioses, underwater ecology, and aquatic plant and animal habitats, you notice behaviors and see creatures you may have previously missed. Learn more about the local ecosystem and take a closer look on your next scuba diving adventure.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="naturalist_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal Night diving-->
<div>
<button type="button" class="night" data-toggle="modal" data-target="#nightModalLong">
    <p class="button-text">Night Diver Specialty</p>
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="nightModalLong" tabindex="-1" role="dialog" aria-labelledby="nightModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nightModalLongTitle">Night Diver Specialty</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>Must be a PADI Advanced Open Water Diver or a PADI Open Water Diver with the PADI Underwater Navigator Specialty (or equivalent certification from another organization)
                Must be at least 12 years old

                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    Scuba diving at night teaches you to focus on what you can see in your light’s beam, on controlling your buoyancy by feel, on staying with your buddy and on paying attention to details you may overlook during the day. During three night dives, you’ll practice:
                    <li>Light handling and communication techniques.</li>
                    <li>Entering, exiting and navigating in the dark.</li>
                    <li>Identifying how plants and animals differ or change behavior at night.</li>
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Course Manual </li>
                        <li>(2) PADI Specialty Deep Diver Certificate</li>
                        <li>(3) Boat dive, 3 training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        The thought of dipping below the surface at night seems mysterious, yet so alluring. Although you’ve been scuba diving at a site many times before, at night you drop into a whole new world and watch it come to life under the glow of your dive light. The scene changes as day creatures retire and nocturnal organisms emerge. If you’ve wondered what happens underwater after the sun goes down, sign up for the PADI Night Diver Specialty course.
        <br>

        <p><strong><h6>Equipment</h6></strong><br>
        Along with your basic scuba equipment, you’ll need a primary dive light and want to have a backup light, too. Your PADI Instructor or local dive center staff may suggest other equipment options, such as wearing more exposure protection to stay comfortable after dark.


        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="night_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal Search And Recovery Specialty diving-->
<div>
<button type="button" class="search" data-toggle="modal" data-target="#searchModalLong">
    <p class="button-text">Search And Recovery Specialty</p>
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="searchModalLong" tabindex="-1" role="dialog" aria-labelledby="searchModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLongTitle">Search And Recovery Specialty</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>Must be a PADI Advanced Open Water Diver or a PADI Open Water Diver with the PADI Underwater Navigator Specialty (or equivalent certification from another organization) Must be at least 12 years old

                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    Gathering information and resources, then carefully planning a search are the first important steps you learn. During four scuba dives you’ll practice:<br>
                    Swimming search patterns using your compass and natural navigation.<br>
                    Locating large and small objects using various search patterns.<br>
                    Using a lift bag for large or heavy objects, plus other recovery methods.<br>
                    Planning a search operation based on facts gathered about a lost object prior to the dive.<br>
                    Not only do these skills make you more capable and confident in the water, but most Search and Recovery Divers eventually end up searching for and recovering something they lost themselves.

                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Course Manual </li>
                        <li>(2) PADI Specialty Search And Recovery  Certificate</li>
                        <li>(3) Boat dive, 2 training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        It happens: People accidentally drop things from docks, off boats or even while scuba diving. If you’ve ever lost something in the water and wanted to go find it, then the PADI Search and Recovery Diver Specialty course is for you. There are effective ways to search for objects underwater that increase your chances of success. And there are good and better methods to bring up small, large or just awkward items. Search and recovery can be challenging, but a whole lot of fun.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="search_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal Digital Underwater Photographer Specialty diving-->
<div>
<button type="button" class="photographer" data-toggle="modal" data-target="#photographerModalLong">
    <p class="button-text">Digital Underwater Photographer Specialty</p>
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="photographerModalLong" tabindex="-1" role="dialog" aria-labelledby="photographerModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="photographerModalLongTitle">Digital Underwater Photographer Specialty</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>PADI Adventure Diver or have a qualifying certification from another training organization, with proof of at least 10 logged dives beyond open water training dives
                Minimum age: 15 years old


                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    Through hands-on training during two scuba dives and guidance from your PADI Professional, you’ll discover:
                    <br>
                    How to choose the right underwater camera system for you.<br>
                    The PADI SEA (Shoot, Examine, Adjust) method for getting great shots quickly.<br>
                    Principles for good composition of underwater images.<br>
                    Practical techniques to take great photos with your digital camera.<br>
                    Get credit! The second dive of this PADI Specialty Diver course may credit as an Adventure Dive toward your Advanced Open Water Diver certification – ask your instructor about earning credit.


                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,200
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(1) PADI Digital Underwater Photographer Manual</li>
                        <li>(2) Theory</li>
                        <li>(3) PADI Digital Underwater Photographer Certificate Card</li>
                        <li>(4) Boat dive, 2 training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        Underwater photography is one of the most popular diving specialties, and with so many underwater cameras to choose from, it has become easier and more fun than ever to capture images of your underwater scuba adventures. The PADI Digital Underwater Photographer course gets you going quickly, whether you use a point-and-shoot camera or a sophisticated dSLR like the pros.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="photographer_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal Underwater Navigation Specialty diving-->
<div>
<button type="button" class="navigation" data-toggle="modal" data-target="#navigationModalLong">
    <p class="button-text">Underwater Navigation Specialty</p>
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="navigationModalLong" tabindex="-1" role="dialog" aria-labelledby="navigationModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="navigationModalLongTitle">Underwater Navigation Specialty</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>If you’re a PADI (Junior) Open Water Diver who is at least 10 years old, you can enroll in the PADI Underwater Navigator Specialty course.


                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    You’ll learn the tools of the trade, including navigation using natural clues and by following compass headings. Underwater navigation can be challenging, but in the PADI Underwater Navigator Specialty course, you master the challenge. You learn the tools of the trade, including navigation via natural clues and by compass. You learn to estimate distance underwater, follow navigation patterns and know where you are while following an arbitrary, irregular course using the Nav-Finder.
                    <br>
                    Methods to estimate distance underwater.
                    Compass navigation while making at least five turns.
                    Marking or relocating a submerged object or position from the surface.
                    Underwater map making.
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(2) Theory</li>
                        <li>(3) PADI Underwater Navigator Certificate</li>
                        <li>(3) Boat dive, 2 training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        Be the scuba diver everyone wants to follow because you know where you are and where you’re going. The PADI Underwater Navigator course fine-tunes your observation skills and teaches you to more accurately use your compass underwater. If you like challenges with big rewards, take this course and have fun finding your way.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="navigation_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal Peak Performance Buoyancy Specialty diving-->
<div>
<button type="button" class="buoyancy" data-toggle="modal" data-target="#buoyancyModalLong">
    <p class="button-text">Peak Performance Buoyancy Specialty</p>
  </button> 
</div>
<!-- Modal -->

<div class="modal fade" id="buoyancyModalLong" tabindex="-1" role="dialog" aria-labelledby="buoyancyModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buoyancyModalLongTitle">Peak Performance Buoyancy Specialty</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>If you’re a PADI (Junior) Open Water Diver who is at least 10 years old, you can enroll in the PADI Peak Performance Buoyancy Specialty course.


                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    During two scuba dives, you’ll learn how to:
                    <br>
                    Determine the exact weight you need, so you’re not too light or too heavy.<br>
                    Trim your weight system and scuba gear so you’re perfectly balanced in the water.<br>
                    Streamline to save energy, use air more efficiently and move more smoothly through the water.<br>
                    Hover effortlessly in any position – vertical or horizontal.

                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD2,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>(2) Theory</li>
                        <li>(3) PADI Peak Performance Buoyancy Specialty Certificate</li>
                        <li>(3) Boat dive, 2 training dives</li>
                    </td>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        Excellent buoyancy control is what defines skilled scuba divers. You’ve seen them underwater. They glide effortlessly, use less air and ascend, descend or hover almost as if by thought. They more easily observe aquatic life without disturbing their surroundings. You can achieve this, too. The PADI Peak Performance Buoyancy Specialty course improves the buoyancy skills you learned as a new diver and elevates them to the next level, fine-tuning buoyancy underwater, and weight positioning for trim, streamlining and visualization.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="buoyancy_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>




</div>