<div class="juniorContainer">
   <!-- Button trigger modal junior open water diving-->
   <div class="box-container" data-toggle="modal" data-target="#juniorModalLong">
      <div id="junior" class="box">
      </div> 
      <strong>Junior Open Water Diver</strong>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="juniorModalLong" tabindex="-1" role="dialog" aria-labelledby="juniorModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="juniorModalLongTitle">Junior Open Water Diver</h5>
               <table>
                  <tr>
                     <th>Entry requirements:</th>
                     <td>10-12 years old above, with good physical health 
                        <br>
                        Water skill requirements:
                        <br>
                        1. Student divers need to swim with bare hands for 200 meters on the surface;<br>
                        Or Wear a mask, snorkel and fins and swim continuously for 300 meters. (Not timed)
                        <br>
                        2. The student diver is not using any swimming aids,<br>
                        Swim/float in the water for 10 minutes.
                     </td>
                  </tr>
                  <tr>
                     <th>Course:</th>
                     <td>
                       <ul>
                        <li>Theory: Cover 5 Knowledge Reviews & Academic Training (6-8 hrs), 4 Quizzes and a Written Exam</li>
                        <li>confined Water Training (6 hrs) pool</li>
                        <li>Open Water training: 4 dives in total.  2 days on the boat and 2 open water dives each day.</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <th>Course Fee:</th>
                     <td>HKD4,500.00@ (English, Cantonese or Mandarin)
                        <br>
                        1 pax: HK4,500 per person
                        <br>
                        2 pax: HK4,300 per person or more
                     </td>
                  </tr>
                  <tr>
                     <th>Course Includes:</th>
                     <td>
                       <ul>
                        <li>PADI manual and log book (except online training) </li>
                        <li>Training Fee</li>
                        <li>All Fundamental SCUBA Diving equipment rental during the course</li>
                        <li>PADI certification (PADI eCard) after all requirements are met</li>
                        <li>PADI membership</li>
                        </ul>
                     </td>
                  </tr>
               </table>
               <p>
                  <strong>
               <h6>Who should take this course?</h6></strong><br>
               PADI (Junior) Open Water Divers (or equivalent) who are at least 12 years old are ready to step up and enroll in an Advanced Open Water Diver course. Young divers may only participate in certain Adventures Dives – feel free to contact us for more details.<br>
               If you’re already an Adventure Diver, you only need to complete two more Adventure Dives to earn the Advanced Open Water Diver certification.
               </p>
               <br>
               <p>
                  <strong>
               <h6>What will you learn?</h6></strong><br>
               You’ll plan your learning path with your instructor by choosing from a long list of Adventure Dives. There are two required dives – Deep and Underwater Navigation – and you can choose the other three, for a total of five dives, together with your instructor.<br>
               During the Deep Adventure Dive, you learn how to plan dives to deal with the physiological effects and challenges of deeper scuba diving. The Underwater Navigation Adventure Dive refines your compass navigation skills and helps you better navigate using kick-cycles and time.
               <br>
               The other knowledge and skills you get vary with your interest and the adventures you have – i.e. photography, buoyancy control, fish identification, exploring wrecks, night diving and Search & Recovery many more.
               </p>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               {{!-- /*form*/ --}}
               <div class="junior_form">
                  <form id="contact" action="" method="post">
                     <h3>Contact Form</h3>
                     <h4>Contact us for reservation</h4>
                     <fieldset>
                        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Your Email Address" type="email" tabindex="2" required>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Interested in which course" type="course" tabindex="4" required>
                     </fieldset>
                     <fieldset>
                        <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
                     </fieldset>
                     <fieldset>
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Button trigger modal seal team-->
   {{!-- <div>
      <button type="button" id="seal" class="box" data-toggle="modal" data-target="#sealModalLong">
      </button> 
   </div>  --}}

  

    <div class="box-container" data-toggle="modal" data-target="#sealModalLong">
      <div id="seal" class="box">
      </div> 
      <strong>PADI Seal Team</strong>
   </div> 

   <!-- Modal -->
   <div class="modal fade" id="sealModalLong" tabindex="-1" role="dialog" aria-labelledby="sealModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="sealModalLongTitle">PADI Seal Team</h5>
               <table>
                  <tr>
                     <th>Entry requirements:</th>
                     <td>10-12 years old above, with good physical health 
                        <br>
                        Water skill requirements:
                        <br>
                        1. Student divers need to swim with bare hands for 200 meters on the surface;<br>
                        Or Wear a mask, snorkel and fins and swim continuously for 300 meters. {Not timed}
                        <br>
                        2. The student diver is not using any swimming aids,<br>
                        Swim/float in the water for 10 minutes.
                     </td>
                  </tr>
                  <tr>
                     <th>Course:</th>
                     <td>
                      <ul>
                        <li>Theory: Cover 5 Knowledge Reviews & Academic Training (6-8 hrs), 4 Quizzes and a Written Exam</li>
                        <li>confined Water Training (6 hrs) pool</li>
                        <li>Open Water training: 4 dives in total.  2 days on the boat and 2 open water dives each day.</li>
                      </ul>
                     </td>
                  </tr>
                  <tr>
                     <th>Course Fee:</th>
                     <td>HKD4,500.00@ (English, Cantonese or Mandarin)
                        <br>
                        1 pax: HK4,500 per person
                        <br>
                        2 pax: HK4,300 per person or more
                     </td>
                  </tr>
                  <tr>
                     <th>Course Includes:</th>
                     <td>
                      <ul>
                        <li>PADI manual and log book (except online training) </li>
                        <li>Training Fee</li>
                        <li>All Fundamental SCUBA Diving equipment rental during the course</li>
                        <li>PADI certification (PADI eCard) after all requirements are met</li>
                        <li>PADI membership</li>
                      </ul>
                     </td>
                     <br>
               </table>
               <p>
                  <strong>
               <h6>Who should take this course?</h6></strong><br>
               PADI (Junior) Open Water Divers (or equivalent) who are at least 12 years old are ready to step up and enroll in an Advanced Open Water Diver course. Young divers may only participate in certain Adventures Dives – feel free to contact us for more details.<br>
               If you’re already an Adventure Diver, you only need to complete two more Adventure Dives to earn the Advanced Open Water Diver certification.
               </p>
               <br>
               <p>
                  <strong>
               <h6>What will you learn?</h6></strong><br>
               You’ll plan your learning path with your instructor by choosing from a long list of Adventure Dives. There are two required dives – Deep and Underwater Navigation – and you can choose the other three, for a total of five dives, together with your instructor.<br>
               During the Deep Adventure Dive, you learn how to plan dives to deal with the physiological effects and challenges of deeper scuba diving. The Underwater Navigation Adventure Dive refines your compass navigation skills and helps you better navigate using kick-cycles and time.
               <br>
               The other knowledge and skills you get vary with your interest and the adventures you have – i.e. photography, buoyancy control, fish identification, exploring wrecks, night diving and Search & Recovery many more.
               </p>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               {{!-- /*form*/ --}}
               <div class="junior_form">
                  <form id="contact" action="" method="post">
                     <h3>Contact Form</h3>
                     <h4>Contact us for reservation</h4>
                     <fieldset>
                        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Your Email Address" type="email" tabindex="2" required>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Interested in which course" type="course" tabindex="4" required>
                     </fieldset>
                     <fieldset>
                        <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
                     </fieldset>
                     <fieldset>
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   
   <!-- Button trigger modal bubble maker-->
   <div class="box-container" data-toggle="modal" data-target="#bubbleModalLong">
      <div id="bubble" class="box">
      </div>
      <strong>PADI Bubblemaker</strong> 
   </div>

  
   <!-- Modal -->
   <div class="modal fade" id="bubbleModalLong" tabindex="-1" role="dialog" aria-labelledby="bubbleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="bubbleModalLongTitle">PADI Bubblemaker</h5>
               <table>
                  <tr>
                     <th>Entry requirements:</th>
                     <td>Kid must be at least 8-10 years old. 
                     </td>
                  </tr>
                  <tr>
                     <th>Course:</th>
                     <td>
                        One hour theory<br>
                        Three hours in shallow pools and underwater diving experience athletics.<br>
                        This is a good way for children to experience scuba diving in the pool in less than six feet of water. Celebrate a birthday by throwing a memorable, exciting Bubblemaker party with friends
                     </td>
                  </tr>
                  <tr>
                     <th>Course Fee:</th>
                     <td>HKD1,200 per diver
                     </td>
                  </tr>
                  <tr>
                     <th>Course Includes:</th>
                     <td>
                        Full SCUBA equipment<br>
                        Pool admission and coaching fees.
                     </td>
               </table>
               <br>
               <p>
                  <strong>
               <h6>What will you learn?</h6></strong><br>
               During this very basic introduction to scuba, children learn about scuba equipment and how it works. Afterward, they get a chance to try it out. They learn to equalize, clear a regulator and mask, and to breathe efficiently, all while an instructor supervises. Experience scuba diving under the direct care and supervision of a PADI Professionals. Bubblemakers take their first breaths underwater in water shallower than 2 metres/6 feet. 
               </p>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               {{!-- /*form*/ --}}
               <div class="bubble_form">
                  <form id="contact" action="" method="post">
                     <h3>Contact Form</h3>
                     <h4>Contact us for reservation</h4>
                     <fieldset>
                        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Your Email Address" type="email" tabindex="2" required>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
                     </fieldset>
                     <fieldset>
                        <input placeholder="Interested in which course" type="course" tabindex="4" required>
                     </fieldset>
                     <fieldset>
                        <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
                     </fieldset>
                     <fieldset>
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>