<link rel="stylesheet" href="css/reActivate.css">  

<div class="reActivateContainer">
 <!-- Button trigger modal advanced diving-->

<div class="reActivateContainer modal-box" data-toggle="modal" data-target="#reActivateModalLong">
      <div id="reActivate" class="reactivate-box">
      </div>
      <strong>Not dive for awhile...No problem! "ReActivate"</strong>
   </div>
<!-- Modal -->

<div class="modal fade" id="reActivateModalLong" tabindex="-1" role="dialog" aria-labelledby="reActivateModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reActivateModalLongTitle">ReActivate</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>Any certified diver</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    <li>Review Session – review PADI content base on certification</li>
                    <li>OpenWater refresher training</li>
                    <li>Review all basic requirements, in water had signals, equipment review, navigation and buoyancy control </li>
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD1,300
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>All basic gear included, BCD, Mask, Snorkel, Fin, Regulator and Tank </li>
                        <li>Training Fee</li>
                        <li>All Fundamental SCUBA Diving equipment rental during the course</li>
                        <li>PADI certification (PADI eCard) after all requirements are met</li>
                        <li>PADI membership</li>
            </td>
                        <br>
                     
        </table>
        <p><strong><h6>Who should take this course?</h6></strong><br>
        PADI (Junior) Open Water Divers (or equivalent) who are at least 12 years old are ready to step up and enroll in an Advanced Open Water Diver course. Young divers may only participate in certain Adventures Dives – feel free to contact us for more details.<br>
        If you’re already an Adventure Diver, you only need to complete two more Adventure Dives to earn the Advanced Open Water Diver certification.
        </p>
        
        <br>
        <p><strong><h6>What will you learn?</h6></strong><br>
        You’ll plan your learning path with your instructor by choosing from a long list of Adventure Dives. There are two required dives – Deep and Underwater Navigation – and you can choose the other three, for a total of five dives, together with your instructor.<br>
        During the Deep Adventure Dive, you learn how to plan dives to deal with the physiological effects and challenges of deeper scuba diving. The Underwater Navigation Adventure Dive refines your compass navigation skills and helps you better navigate using kick-cycles and time.
        <br>
        The other knowledge and skills you get vary with your interest and the adventures you have – i.e. photography, buoyancy control, fish identification, exploring wrecks, night diving and Search & Recovery many more.

        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="reActivate_form">  
  <form id="contact" action="mailto:bubblesdiving.hk@gmail.com" method="post" enctype="text/plain">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" name="name" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" name="email" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" name=
      "telephone" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" name="course-type" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea name="message" placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>



 

</div>