<div class="proLevelContainer">
 <!-- Button trigger modal Dive Master diving-->

<div class="box-container" data-toggle="modal" data-target="#diveMasterModalLong">
      <div id="diveMaster" class="box">
      </div>
      <strong>Dive Master</strong>
   </div>
<!-- Modal -->

<div class="modal fade" id="diveMasterModalLong" tabindex="-1" role="dialog" aria-labelledby="diveMasterModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diveMasterModalLongTitle">Dive Master</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>
                    - 18 years old or above<br>
                    - Minimum of 40 logged Open Water dives is required<br>
                    - Holder of PADI Advanced Diver Certificate or equivalent<br>
                    - Holder of PADI  Rescue Diver Certificate or equivalent<br>
                    - EFR  certification (Primary Care and Secondary Care) or equivalent within 24 months<br>
                    - Physically fit for scuba diving
                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>
                    <h6>Knowledge Development :</h6>
                    <ol>
                        <li>Course Standards</li>
                        <li>Course Prerequisites</li>
                        <li>Certification Requirements</li>
                        <li>Instructor Supervision</li>
                        <li>Equipment</li>
                        <li>Training Materials</li>
                        <li>Referrals</li>
                        <li>Certification Procedures</li>
                        <li>Course Overview</li>
                        <li>Key Standards</li>
                        <li>Sequencing within the PADI Divemaster Course</li>
                        <li>Sample Divemaster Course Schedule</li>
                    </ol>
                    <br>
                    <h6>Water Skills and Stamina Module:</h6>
                        <li> 400 Metres / Yard Swim</li>
                        <li>15 Minutes Tread</li>
                        <li>800 Metres / Yard Snokel Swim</li>
                        <li>100 Metres / Yard Inert Diver Tow</li>
                        <li>Diver Rescue Assessment and Development</li>
                        <li>Performing The 20 Basic Scuba Skills from the PADI Skill Evaluation</li>
                        <br> 
                        <h6>Required Training Exercises : </h6>
                        <li>Mapping open water site</li>
                        <li>Equipment Exchange</li>
                        <li>Divemaster Conducted Programs</li>

                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD7,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <li>Pool Training Fees (15 sessions)</li>
                        <li>Open Water Training Fees (15 days)</li>
            </td>
             <tr>
                <th>Course Excludes:</th>
                    <td>
                        <li>PADI Dive Master Course Materials (crew pack)</li>
                        <li>PADI Dive Master e-Learning (if choosing to do e-learning)</li>
            </td>
                        <br>
                     
        </table>
        <p><strong><h6>Who should take this course?</h6></strong><br>
        Love scuba diving? Want to share it with others on a whole new level? Take the PADI Divemaster course and do what you love to do as a career. Scuba divers look up to Divemasters because they are leaders who mentor and motivate others. As a Divemaster, you not only get to dive a lot, but also experience the joy of seeing others have as much fun diving as you do.
        <br>
        The PADI Divemaster course is your first level of professional training. Working closely with a PADI instructor, you'll fine-tune your dive skills, like perfecting the effortless hover, and refine your rescue skills so you anticipate and easily solve common problems. You'll gain dive knowledge, management and supervision abilities so you become a role model to divers everywhere.
        <br>
        As a PADI Divemaster, you'll lead others as you supervise scuba diving activities and assist with diver training. Whether you want to work at a faraway dive destination or close to home at a local dive shop, the adventure of a lifetime awaits you. PADI Divemasters are respected dive professionals who are aligned with the largest and most respected organization in the world - PADI.
        </p>
        <br>
        <p><strong><h6>What will you learn?</h6></strong><br>
        The PADI Divemaster course teaches you to be a leader and take charge of dive activities. Through knowledge development sessions, water skill exercises and workshops, and hands-on practical assessment, you develop the skills to organize and direct a variety of scuba diving activities.<br>
        Topics and practical workshops include:<br>
        The role and characteristics of the PADI Divemaster<br>
        Supervising dive activities and assisting with student divers<br>
        Diver safety and risk management<br>
        Divemaster conducted programs and specialized skills<br>
        Business of diving and your career<br>
        Awareness of the dive environment<br>
        Dive setup and management<br>
        Mapping and open water site<br>
        Conducting dive briefings<br>
        Organizing a search and recovery project and a deep dive<br>
        Conducting a scuba review and skin diver course<br>
        Assisting with Discover Scuba Diving and leading Discover Local <br>
        Diving Programs
        <br>
        <p><strong><h6>What gear will you use?</h6></strong><br>
        As a dive professional, you'll want to have all your basic scuba equipment, including a dive computer, a dive tool, and at least two surface signaling devices. During practical skill exercises, like underwater mapping and search and recovery, you'll use a compass, floats, marker buoys, lift bags, and slates. Your PADI Instructor may suggest additional gear that will be useful throughout your diving career.<br>
        <strong>What will your schedule look like?</strong><br>
        Since the Divemaster course requires numerous workshops and practical assessments, we at Grove Scuba try our best to work around your schedule. Knowledge development will be conducted in the classroom with one of our instructors. You will also be sent out with real classes and students to get the most out of your course, this will depend on when those courses are conducted and your availability. Most of our classes are held on the weekends, however, there are opportunities to train during the week. 


        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="diveMaster_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal Assistant instructor diving-->
<div class="box-container" data-toggle="modal" data-target="#assistantModalLong">
      <div id="assistant" class="box">
      </div>
      <strong>PADI Assistant Instructor Course</strong>
   </div>
<!-- Modal -->

<div class="modal fade" id="assistantModalLong" tabindex="-1" role="dialog" aria-labelledby="assistantModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assistantModalLongTitle">PADI Assistant Instructor Course</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>
                    <dl> 
                        <dd>- Holding of PADI Assistant Instructor Certificate or the equivalent</dd>
                        <dd>- Minimum of 60 logged Open Water dives including Night Dive, Deep Dive & Navigation is required and 100 dives to attend an IE</dd>
                        <dd>- Have already taken CPR in last 24 months</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>The IDC teaches you to conduct all PADI core courses. You’ll be able to organize and present information, conduct skill development sessions and control open water dives. Basically, you become a better public speaker and get really good at demonstrating skills while watching out for student diver safety. Key topics include:
                <br>
                    <ul>
                    <li>PADI Standards and Procedures for courses you can teach with in water workshops</li>
                    <li>Learning, Instruction and the PADI System</li>
                    <li>Risk Management and Diver Safety</li>
                    <li>The Business of Diving and your role as an instructor</li>
                    <li>Marketing Diving and Sales Counselling</li>
                    </ul>
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD7,000
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <ul>
                        <li>All basic gear included, BCD, Mask, Snorkel, Fin, Regulator and Tank </li>
                        <li>Training Fee</li>
                        <li>All Fundamental SCUBA Diving equipment rental during the course</li>
                        <li>PADI certification (PADI eCard) after all requirements are met</li>
                        <li>PADI membership</li>
                        </ul>
            </td>
                        <br>
                     
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        If you like people, have a passion for scuba diving and want an extraordinary life – become a PADI Instructor. Teaching scuba diving allows you to share your love of the aquatic world with others while doing what you enjoy – being in, around and under water. PADI Open Water Scuba Instructors and PADI Assistant Instructors are the most sought-after dive professionals around the world because they’ve completed the program that sets the standard for training dive professionals. You earn a PADI Instructor rating through hard work and commitment, but you’re rewarded with a job that lets you share incredible underwater adventures with others – transforming their lives for the better and enriching yours.
        <br>
        Are you ready to join the ranks of the dedicated professionals who teach the world’s most progressive and popular scuba diver education programs? Then Go PROSM with an Instructor Development Course.
        <br>
        The Instructor Development Course (IDC) is made up of two parts – the Assistant Instructor (AI) course and the Open Water Scuba Instructor (OWSI) program. Most dive professionals complete the entire IDC and go on to attend an Instructor Examination (IE), which is the final step to earn a PADI Instructor certification.
        <br>
        Successfully completing just the AI course results in a PADI Assistant Instructor qualification. When an AI is ready to progress, attending an OWSI program allows entry into an IE to earn a full PADI Instructor rating.
        <br>
        Dive professionals who hold an instructor rating with another diver training organization may be eligible to enroll directly in the OWSI program. This recognizes prior instructor training and provides a path to become a PADI Instructor.


        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="assistant_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal instructor Development course (IDC) diving-->
<div class="box-container" data-toggle="modal" data-target="#IDCModalLong">
      <div id="IDC" class="box">
      </div>
      <strong>PADI Instructor Development Course (IDC)</strong>
   </div>
<!-- Modal -->

<div class="modal fade" id="IDCModalLong" tabindex="-1" role="dialog" aria-labelledby="IDCModalLongTitle" aria-hidden="true">
    
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="IDCModalLongTitle">PADI Instructor Development Course (IDC)</h5>
        <table>
            <tr>
                <th>Entry requirements:</th>
                <td>
                    <dl> 
                        <dd>- Holding of PADI Assistant Instructor Certificate or the equivalent</dd>
                        <dd>- Minimum of 60 logged Open Water dives including Night Dive, Deep Dive & Navigation is required and 100 dives to attend an IE</dd>
                        <dd>- Have already taken CPR in last 24 months</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>The IDC teaches you to conduct all PADI core courses. You’ll be able to organize and present information, conduct skill development sessions and control open water dives. Basically, you become a better public speaker and get really good at demonstrating skills while watching out for student diver safety. Key topics include:
                <br>
                    <ul>
                    <li>PADI Standards and Procedures for courses you can teach with in water workshops</li>
                    <li>Learning, Instruction and the PADI System</li>
                    <li>Risk Management and Diver Safety</li>
                    <li>The Business of Diving and your role as an instructor</li>
                    <li>Marketing Diving and Sales Counselling</li>
                    </ul>
                </td>    
            </tr>
            
            <tr>
                <th>Course Fee:</th>
                <td>HKD1,300
                </td>
            </tr>
            
            <tr>
                <th>Course Includes:</th>
                    <td>
                        <ul>
                        <li>Pool entrance</li>
                        <li>OpenWater training</li>
                        </ul>
            </td>

             <tr>
                <th>Course Excludes:</th>
                    <td>
                        <ul>
                        <li>IDC Crewpack is at additional cost</li>
                        <li>Instructor Examination fee (pay to PADI directly)</li>
                        <li>Open Water Scuba Instructor application fee (upon successful completion) and thereafter annual membership fee</li>
                        <li>Diving equipment rental during the course</li>
                        </ul>
                </td>
          
        </table>
        
        <p><strong><h6>What will you learn?</h6></strong><br>
        A PADI Divemaster who has been a certified diver for six months may enroll in the PADI Instructor Development Course. You also need:
        <br>
        At least 60 logged dives and 100 dives to attend an IE.
        Emergency First Response Primary and Secondary Care (CPR and First Aid) training within the past 24 months.
        A medical statement signed by a physician within the last 12 months
        You also need to be an Emergency First Response Instructor, but you can earn this rating during your instructor training.
        Academic
        <br>
        Over a minimum of five days, but usually more like seven, the IDC teaches you to conduct all PADI core courses. You’ll be able to organize and present information, conduct skill development sessions and control open water dives. Basically, you become a better public speaker and get really good at demonstrating skills while watching out for student diver safety. Key topics include:
        <br>
        PADI Standards and Procedures for courses you can teach with in water workshops
        Learning, Instruction and the PADI System
        Risk Management and Diver Safety
        The Business of Diving and your role as an instructor
        Marketing Diving and Sales Counseling
        <br>
        <em>Dive professionals who hold an instructor rating with another diver training organization may be eligible to enroll directly in the OWSI program. This recognizes prior instructor training and provides a path to become a PADI Instructor.</em>
        <br>
        <em>You may be able to get college credit or the Assistant Instructor course and Instructor Development Course.</em>



        </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
    {{!-- /*form*/ --}}
  <div class="IDC_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Interested in which course" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
  </div>
      </div>
    </div>
  </div>
</div>
 

</div>