<div style="margin-left: 250px;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card text-white card-course shadow" onclick="location.href='/admin/course';">
                    <div class="card-body">
                        Course
                        <div class="text-white-50 small">Manage Course</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card text-white card-boat shadow" onclick="location.href='/admin/boats';">
                    <div class="card-body">
                        Boats
                        <div class="text-white-50 small">Manage Boats</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card text-white card-classroom shadow" onclick="location.href='/admin/classroom';">
                    <div class="card-body">
                        Classrooms
                        <div class="text-white-50 small">Manage Classrooms</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card text-white card-pool shadow" onclick="location.href='/admin/pools';">
                    <div class="card-body">
                        Pools
                        <div class="text-white-50 small">Manage Pools</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card text-white card-instructor shadow" onclick="location.href='/admin/instructors';">
                    <div class="card-body">
                        Instructors
                        <div class="text-white-50 small">Manage Instructors</div>
                    </div>
                </div>
            </div>
            <!--div class="col-lg-6 mb-4">
                <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                        Secondary
                        <div class="text-white-50 small">#858796</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-light text-black shadow">
                    <div class="card-body">
                        Light
                        <div class="text-black-50 small">#f8f9fc</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-dark text-white shadow">
                    <div class="card-body">
                        Dark
                        <div class="text-white-50 small">#5a5c69</div>
                    </div>
                </div>
            </div-->
        </div>
    </div>
</div>