<link rel="stylesheet" href="css/faq.css">

<div class="faqContainer">
<div class="row" style="margin-top:100px" >
    <h1>Am I suitable for Scuba Diving?</h1>
    <ul>
        <li><p>Does child suitable for Scuba Diving?</p>
        <p>Yes.Child who aged 8 or above could apply for PADI Bubblemaker or PADI Seal Team conducted by Diving Adventure (DA) to experience Scuba Diving in Pool. For those who aged 10 or above could apply for PADI Junior Open Water Diver course, by learning solving problem underwater independently, child could improve their self-confident, discipline and obeying to the Instructor, meanwhile child could gain knowledges about the ocean. Parents are welcomed to study the course with their child making Scuba Diving a healthy recreational sport for the family.</p></li>
    </ul>
    <ul>
        <li><p>Do ladies suitable for Scuba Diving?</p>
        <p>Yes.Nowadays Scuba Diving is very safe and easy-to-handle, more and more lady divers joined this activity in recent years. In past ladies concern they need excessive strength and technique in Scuba Diving, but nowadays the equipments are very advanced even some of them are specially designed for ladies, so more people could share the beautiful scene underwater while they don't need to have an outstanding strength and technique.</p>
        </li>
    </ul>
    <ul>
        <li><p>Do elderies suitable for Scuba Diving?</p>
        <p>Yes.As Scuba Diving a non-competitive recreational sport, elderly are welcomed to learn Scuba Diving. We suggest you to consult family doctor or have a body check before taking the course if you have any hesitation on your health condition.</p></li>
    </ul>
    <ul>
        <li><p>Do the disabled suitable for Scuba Diving?</p>
        <p>Yes. You are able to apply for Discovery Scuba program conducted by DA or apply for IAHD Certification courses and have fun together.</p></li>
    </ul>

    <h4>Concerns regarding Scuba Diving</h4>
    <ul>
        <li><p>Do I need outstanding swimming technique for learning Scuba Diving?</p>
        <p>No. The Scuba equipment nowadays are very safe and reliable as you don't need an outstanding swimming technique, but we highly recommand you have learnt basic swimming skills before taking the course for safety reasons.</p>
        </li>
    </ul>
    <ul>
        <li><p>Actually Scuba Diving is very safe only if you are not instructed by a certified Scuba Instructor, it may cause danger easily. There are International Diving Association which responsible for standardizing training procedure and safety requirement such as PADI nowadays and required divers to obtain a license before joining this activity. Just like you need to obtain a drinving license before you drive. This is to make sure that divers are being trained properly before they are issued a license to minimize the chance of an accident.</p>
        </li>
    </ul>
    <ul>
        <li><p>What should I do if I fear about adopting into the underwater environment?</p>
        <p>You are able to apply for the discovery programs conducted by DA in pool or in open water in an acceptable price then you can experience the joy from Scuba Diving under Instructor's direct supervision. If you find no problem in the discovery program, then you can continue stepping into the certification course.</p>
        </li>
    </ul>
    <ul><p>Does Scuba Diving consumes excessive stamina and strength?</p>
        <p>As you are in a weightless status underwater, you don't need to spend much stamina and strength during the dive. That's why Scuba Diving becomes much more popular for the people who live in the cities as a method to stress themselves off.</p>
        <li><p>Are Scuba equipments safe and reliable?</p></li>
        <p>Since years from Scuba Diving becomes popular, Scuba equipments become very safe and reliable nowadays.</p>
    </ul>
    <ul>
        <li><p>I am busy, am I able to finish the course in the fastest way?</p>
        <p>The minimum requirement for the course is 4 days. You can divide the course into two Saturdays and two Sundays, or depends on your own schedule, DA offer a flexible schedule assisting the students to finish the course depends on their request.</p></li>
    </ul>
    <ul>
        <li><p>Am I able to learn Scuba Diving as I need to wear a glasses?</p>
        <p>You are able to wear the contact lens, but there is possibility of misplacing underwater or being flushed away. So we recommand you to have a mask with corrective lens, we provide lens from -1.0 to -10.0 for choices. After you checked your eyes by an qualified optometrist, we are able to find the suitable corrective lens regarding the result.</p>
        </li>
    </ul>
    <ul>
        <li><p>Am I able to learn Scuba Diving if I smoke?</p>
        <p>We don't encourage divers smoke as smoking originally not good for health.</p>
        </li>
    </ul>
    <ul>
        <li><p>Will I feel pain in my ears while diving?</p>
        <p>Because of the water-pressure, we must equalise the pressure while descending. It's an easy technique and actually you won't feel pain, Instructors will explain to you during lessons.</p>
        </li>
    </ul>
    <ul>
        <li><p>Are student divers insured?</p>
        <p>Diving Adventure has already purchased the Dive Insurance from PADI protecting the students and the participants. You are able to purchase an insurance individually, ask your Instructor for more information</p>
        </li>
    </ul>
    <ul>
        <li><p>Will I face any problem in other countries if I obtained my certificate in Hong Kong?</p>
        <p>PADI is the world's biggest Diving Association with branches all over the world, so you won't face any problem in this case.</p>
        </li>
    </ul>
    <ul>
        <li><p>What are the basic Diving Equipments?</p>
        <p>Mask, Snorkel and Fins are the most basic diving equipments. You are able to go snorkeling with them at anytime</p>
        </li>
    </ul>
    <ul>
        <li><p>Why I need to be trained in pool first during the Open Water Diver Course?</p>
        <p>The rookies usually feel nervous during the first few dives. Swimming pool provides a safe environment for them to build-up their self-confident step-by-step under the instructions from the Instructor, they will find easier to get familarized to their equipment too. After finishing the training in pool, we will arrange open water training. DA's Open Water Diver course provides sufficient training time in pool, hoping all the students could learn all the skills they needed, to be a safe diver all the time after certification.</p>
        </li>
    </ul>
    <ul>
        <li><p>What are the different between Snorkeling, Free Diving and Scuba Diving?</p>
        <p>Snorkeling means you explore the underwater world with mask, snorkel and fins while you are always at the surface. Snorkelers always keep themselves near the shore due to safety reasons and watch the underwater creatures from distance. It's suitable for those who just begin exploring the ocean and for those who are not good at swimming.<br>
        Free Divers require a better swimming technique for them dive into the water with holding a breath, normally they need to swim back to the surface to breath in half or one minute. Free diving makes diver could explore the underwater world closer but it needs a long time training to improve their ability in holding their breath.</p>
        <p>By going through a proper training, you learn how to use the air tank and the other Scuba Equipments correctly. It makes you able to dive into the ocean and explore the underwater world in a close distance, enjoy the beautiful underwater world. What are you waiting for? Come and join us now!</p>
        </li>
    </ul>
    
</div>

</div>