<div class="instructorsContainer">
    <div id=container-heading>
  Learn To Dive 
  <div id=flip>
    <div><div>Our</div></div>
    <div><div>Meet</div></div>
    <div><div>Instructors</div></div>
  </div>
  Start Your Adventure!
</div>
{{!-- <div class="w3-container w3-teal" >
  <h1>Meet Our Instructors</h1>
</div> --}}
    <div class="rowInstructor" class="box-sizing">
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/girl01.jpg" alt="kimberly" style="width:100%">
        <h5>Ms Kimberly </h5>
        <p>Open Water Instructor(OWI)</p>
    </div>
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/girl02.jpg" alt="lisa" style="width:100%">
        <h5>Ms Lisa</h5>
        <p>Open Water Instructor(OWI)</p>
    </div>
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/girl03.jpg" alt="jenifer" style="width:100%">
        <h5>Ms Jenifer</h5>
        <p>Specialty Instructor</p>
    </div>
    </div>

    <div class="rowInstructor" class="box-sizing">
    <div class="columnInstructor">
        <img  class="instructorsPic" src="/img-instructor/me.jpg" alt="david" style="width:100%">
        <h5>Mr David</h5>
        <p>Master Scuba Diver Trainer (MSDT)</p>
    </div>
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/girl06.jpg" alt="rachel" style="width:100%">
        <h5>Ms Rachel</h5>
        <p>Open Water Instructor(OWI)</p>
    </div>
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/man01.jpg" alt="arnold" style="width:100%">
        <h5>Mr Arnold</h5>
        <p>Master Scuba Diver Trainer (MSDT)</p>
    </div>
    </div>

     <div class="rowInstructor" class="box-sizing">
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/man02.jpeg" alt="sam" style="width:100%">
        <h5>Mr Sam</h5>
        <p>Master Scuba Diver Trainer (MSDT)</p>
    </div>
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/girl05.jpg" alt="jo" style="width:100%">
        <h5>Ms Jo</h5>
        <p>Open Water Instructor(OWI)</p>
    </div>
    <div class="columnInstructor">
        <img class="instructorsPic" src="/img-instructor/man03.jpg" alt="gary" style="width:100%">
        <h5>Mr Gary</h5>
        <p>Master Scuba Diver (MSD)</p>
    </div>
    </div>

    <div class="flowChart">
        <img src="/img-course/Diving-Flow-Chart1.jpg" alt="chart" >

    </div>



</div>