  <link rel="stylesheet" href="css/localDiveSites.css">

<div class="localDiveSiteContainer">
<div class="diveMap">   
<h1>Hong Kong Fun Diving locations</h1>
    <p>From its evolution from a humble fishing village into one of the world's busiest ports, Hong Kong has always had a history intertwined with the water that surrounds it. While scuba diving may not be the first thing that comes to mind when thinking of the seas surrounding our city, you'll be surprised how clear and ripe for diving the water can get off the shores of HK's less populated alcoves.</p> 

    <p>Delve into Hong Kong's waters and rediscover the sea, gliding in the depths while marvelling at schools of fish and curious, rare critters of fascinating colours. Though our waters may not be quite as clear as The Maldives, the sunken artefacts that allow a glimpse of our home's history, and reefs teeming with aquatic life, make the dive worthwhile here, given you know where to go. Here's a list of some of the very best places to take the plunge.</p>

    <p>If you are going open water diving, you need the appropriate PADI (Professional Association of Diving Instructors) certification. 
    Alternatively, get an instructor to accompany you from reputable dive shops.<br>
    Always dive with a buddy! Most emergency techniques are dependent on you having a helping hand.<br>
    Ever been on a plane? You will feel a similar ache in your ears when you dive. Descend slowly and constantly equalise the pressure to protect your eardrums.<br>  
    Take only photos, leave only bubbles! <a href="http://www.scubaearth.com/dive-site/dive-site-profile-search.aspx" target="_blank">Dive sites Hong Kong</a></p>

    <div class="mapHK">
    <img src="/img-course/HK-Dive-Sites_Map01.jpg" alt="Location 1" width="80%" height="70%">
    <br>
    <img src="/img-course/HK-Dive-Sites_Map_02.jpg" alt="Location 2" width="80% height=70%>"
    </div>

</div> 


</div>