<link rel="stylesheet" href="css/localEquipment.css">

<div class="localEquipmentContainer">
<div class="equipmentHeading">
    <h1>Basic Scuba Diving Equipment and Gear</h1>
    <p>Before jumping into the depths of the blue ocean, and in order to enjoy a safe and fun dive, a diver must be equipped with adequate knowledge, physical skills and a good set of scuba diving equipment.</p>

    <p>As human bodies are not accustomed to seeing, staying and breathing underwater, the right diving gear will equip you with everything you need to do so. Be well prepared by learning to dive and, most importantly, provide yourself with the right equipment. Here is a list of the basic scuba diving equipment you will need.</p>

    <h3>Diving Mask & Snorkel</h3>
    <p>Since your eyes aren’t designed to see underwater, one of the most important pieces of equipment to have is the diving mask. The diving mask will create air space in front of your eyes to let you see clearly underwater. As for snorkels, not every diver will need one. However, it’s normally suggested for beginners to carry one, while more experienced divers will see it as optional. This breathing tube comes in handy when you’re swimming facedown on the surface. In addition, snorkels also help to save the air in your tank.</p>

    <h3>Wetsuit or Drysuit</h3>
    <p>When do you use a wetsuit versus a drysuit? Use wetsuits when diving in warmer water and drysuits in colder water. Normally, wetsuits are skin-tight and made of neoprene that locks a layer of water around the body to keep it warm. On the other hand drysuits, as the name indicates, will keep you completely dry. Drysuits are more loosely fitted compared to a wetsuit and operate as an incubator to keep you warm.</p>

    <p>The key determining factor in choosing between a wetsuit and a drysuit is water temperature. While you need to take your own tolerance to cold into consideration, most scuba divers use a drysuit when diving waters below 60° F/16° C. Some divers can tolerate temperatures as low as 50° F/10° C in a 7mm double-layer wetsuit while others put on their drysuit when diving waters below 75° F/24° C. It’s all a matter of personal preference.</p>

    <h3>Scuba Gloves</h3>
    <p>Just like your wetsuit, scuba gloves help to keep your hands warm underwater. Additionally, it also prevents skin injuries when you explore difficult underwater environments. Providing thermal protection from 1.5mm thickness for tropical climates to 7mm cold water diving</p>

    <h3>Boots and Fins</h3>
    <p>Fins are another important essential to your scuba diving equipment. When diving, fins let you move through the water seamlessly, without wasting too much energy. There are two types of scuba fins: open heel and full-foot. Open heel fins are commonly used in cold water. Like their name suggests, they are open at the heel and use straps to secure your feet. Full-foot fins completely cover your feet and are normally used in warmer water.</p>

    <p>Scuba divers and snorkelers wear dive boots, also called wetsuit boots or booties, for warmth, comfort and protection. Dive boots are designed to be worn with open-heel dive fins, which feature an adjustable heel strap to hold the fin on the foot. If you use closed-heel fins, you do not need dive boots. Not all beach entries are created equal. Soft sandy beaches can become quite hot, and many entry points are covered with sharp shells and rocks. Walking to the entry point with 40 lbs. or more of scuba gear on your back makes walking on rocks and shells even more painful. The rubber soles on your dive boots protect your feet from cuts, burns, bites and stings, and provide extra traction on slippery surfaces. Falling down on sharp rocks, particularly laden with heavy gear, can lead to serious injury and damage your expensive equipment.</p>

    <h3>Regulator</h3>
    <p>Never forget the regulator, as this is what allows you to breathe underwater. The regulator has a part called the first stage that connects to your scuba tank and moves air from the tank when you inhale. There is also a part called the second stage, which is what you put in your mouth to breath from. When selecting your diving regulator, always choose the one that provides you with the best comfort and performance.</p>

    <h3>Depth Gauge, Submersible Pressure Gauge (SPG), & Compass</h3>
    <p>As the name indicates, a depth gauge specifies the current and maximum depth reached during a dive. Your SPG will also show how much remaining air you have in your scuba tank. This is to ensure you can end your dive before your air supply gets too low. A compass is another vital piece of scuba diving equipment that helps you to navigate underwater. All of these devices come in both digital and analog form, which you can choose depending on your preference.</p>

    <h3>Dive Computer</h3>
    <p>A dive computer monitors the duration of your dive, the depth you are at, and how much longer you can safely stay at depth. Some dive computers are also able to track how much air you have left. Since renting a dive computer can be costly, it would be better to purchase your own.</p>

    <h3>Buoyancy Compensator (BCD)</h3>
    <p>Imagine scuba diving while hovering, weightless underwater – eye to eye with a fish. How is it possible? It starts with your buoyancy control device (BCD).</p>

    <p>A BCD does exactly what its name describes – it gives you control in the water. Sometimes you want to float on the surface comfortably. Occasionally, you want to kneel or stand on the bottom, sometimes during a training course. Most of the time, you want to drift along effortlessly mid-water, observing the scenery. To do this efficiently, you need a BCD that fits you well, along with a weight system to fine-tune your buoyancy. The BCD also holds your tank. </p>

    <h3>Scuba Tank</h3>
    <p>High-pressure cylinders are relatively small, yet very strong containers that hold large volumes of compressed gas. Being able to carry your gas supply with you is what defines SCUBA (self containedunderwater breathing apparatus). Whether it’s filled with regular filtered air or enriched air nitrox (higher oxygen and lower nitrogen content) or trimix (three-gas combination) for technical diving, a scuba tank is one of the most important pieces of gear.</p>

    <p>Cylinder made of either steel or aluminum alloy, although other composites are possible.</p>
    <p>A valve controls the flow of air from the tank and connects to your regulator with either a DIN (screw in) or yoke (bracket) system. An o-ring seals your regulator to the tank valve.</p>

    <h3>Scuba Knives</h3>
    <p>A dive knife is there to help you if you get caught in fishing line, nets, seaweed, etc. - not to fend off attacks from underwater creatures (although you can always use it if you're in a pinch :).</p>

    <p>Think of the type of diving you are doing. If you do any type of technical diving, wreck diving, cave diving, etc. a scuba diving knife (or two) is a necessity.</p>

    <p>At the other extreme, if you mainly do guided dives in the clear, blue waters of the Caribbean, diving knives probably aren't so much of a necessity. Although it still isn't a bad idea to have one on you.</p>

    <h3>Dive Torch</h3>
    <p>A scuba diving light is an essential piece of equipment divers should take advantage of on every dive. Whether diving in murky or clear water, day or night, a dive light brings back color to a blue world. Seasoned divers know that everything begins to look dull at 20-30 feet underwater during the day. If the sunlight is not sufficient enough to illuminate the colors of sea creatures and plants, a dive light can help make your exploration more spectacular.</p>

    <p>Water absorbs light quickly and it absorbs the red end of the spectrum first (the colors that you see in the outermost arcs of a rainbow). So, after you’ve gone just a few yards underwater, reds are no longer visible to the camera—they appear to be brown or black. Go a bit deeper and orange becomes a greenish tan. At greater depths, everything appears to be various shades of a muted blue-violet.</p>
    <img class="equipment" src="/img-course/Scuba-Gear01.jpg" style="position:centre" width="100%">
</div>



</div>