<div class="localBoatScheduleContainer">
    
<h1>Hong Kong Fun Diving Boat Schedule</h1>
<div class="header-img">
{{!-- <img src="/img-course/diving-boat.jpg" width="100%"> --}}
</div>
 
 <table class="table table-hover" width="100vh">
      <thead>
        <tr class="highlight">
          <th scope="col">Date-June</th>
          <th scope="col">Training Boat A</th>
          <th scope="col">Fun Diving Boat B</th>
          <th scope="col">Fun Diving Boat C</th>
          <th scope="col">Fun Diving - Fee</th>
          <th scope="col">Night Dive-Fee (+HK$250)</th>
          <th scope="col">Departure Time-Pier</th>
        </tr>
      <thead>
      <tbody>
        <tr>   
          <td>June 16 Wed</td>
          <td>Sharp Island</td>
          <td>Tiu Chung Chau</td>
          <td>Kau Sai chau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 18 Fri</td>
          <td>Sharp Island</td>
          <td>Kau Sai Chau</td>
          <td>Ching Chau</td>
          <td>HK$520</td>
          <td>Night dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 19 Sat</td>
          <td>Sharp Island</td>
          <td>Ung kong Chau</td>
          <td>Port Island</td>
          <td>HK$460</td>
          <td>Night dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 20 Sun</td>
          <td>Sharp Island</td>
          <td>Basalt Island</td>
          <td>Sharp Island</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 21 Mon</td>
          <td>Sharp Island</td>
          <td>Ung kong Chau</td>
          <td>Yin Tsz Ngam</td>
          <td>HK$460</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 22 Tues</td>
          <td>Sharp Island</td>
          <td>Basalt Island</td>
          <td>Ching Chau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 23 Wed</td>
          <td>Sharp Island</td>
          <td>Lan Tau Pai</td>
          <td>Trio Island</td>
          <td>HK$460</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 25 Fri</td>
          <td>Sharp Island</td>
          <td>Trio Island</td>
          <td>Ung kong Chau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 26 Sat</td>
          <td>Sharp Island</td>
          <td>East Dam</td>
          <td>Port Island</td>
          <td>HK$540</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 27 Sun</td>
          <td>Sharp Island</td>
          <td>Long Ke</td>
          <td>Victor Rock</td>
          <td>HK$460</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 29 Tues</td>
          <td>Sharp Island</td>
          <td>Nine Pins Islands</td>
          <td>Shek Ngau Chau</td>
          <td>HK$540</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>June 30 Wed</td>
          <td>Sharp Island</td>
          <td>Pak Lap Tsai</td>
          <td>Sharp Island</td>
          <td>HK$540</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>

        <tr class="highlight">
          <th scope="col">Date-July</th>
          <th scope="col">Training Boat A</th>
          <th scope="col">Fun Diving Boat B</th>
          <th scope="col">Fun Diving Boat C</th>
          <th scope="col">Fun Diving - Fee</th>
          <th scope="col">Night Dive-Fee (+HK$250)</th>
          <th scope="col">Departure Time-Pier</th>
        </tr>
        <tr>
          <td>July 2 Fri</td>
          <td>Sharp Island</td>
          <td>Tiu Chung Chau</td>
          <td>East Dam</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 3 Sat</td>
          <td>Sharp Island</td>
          <td>Victor Rock</td>
          <td>Ngau Tau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 4 Sun</td>
          <td>Sharp Island</td>
          <td>Ung kong Chau</td>
          <td>Port Island</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 6 Tues</td>
          <td>Sharp Island</td>
          <td>Yin Tsz Ngam</td>
          <td>Ching Chau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 8 Thurs</td>
          <td>Sharp Island</td>
          <td>Shek Ngau Chau</td>
          <td>Ching Chau</td>
          <td>HK$540</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 9 Fri</td>
          <td>Sharp Island</td>
          <td>Basalt Island</td>
          <td>Trio Island</td>
          <td>HK$460</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 10 Sat</td>
          <td>Sharp Island</td>
          <td>Tiu Chung Chau</td>
          <td>Ching Chau</td>
          <td>HK$540</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 11 Sun</td>
          <td>Sharp Island</td>
          <td>East Dam</td>
          <td>Ngau Tau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 13 Tues</td>
          <td>Sharp Island</td>
          <td>Shek Ngau Chau</td>
          <td>Sharp Island</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 15 Thurs</td>
          <td>Sharp Island</td>
          <td>Victor Rock</td>
          <td>Ngau Tau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 16 Fri</td>
          <td>Sharp Island</td>
          <td>Nine Pins Islands</td>
          <td>Ching Chau</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 17 Thurs</td>
          <td>Sharp Island</td>
          <td>Pak Lap Tsai</td>
          <td>Ngau Tau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 18 Sun</td>
          <td>Sharp Island</td>
          <td>One Foot Rock</td>
          <td>Long Ke</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 20 Tues</td>
          <td>Sharp Island</td>
          <td>Victor Rock</td>
          <td>Ngau Tau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 22 Thurs</td>
          <td>Sharp Island</td>
          <td>Tiu Chung Chau</td>
          <td>Ngau Tau</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 23 Fri</td>
          <td>Sharp Island</td>
          <td>Waglan Island</td>
          <td>Yin Tsz Ngam</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 24 Sat</td>
          <td>Sharp Island</td>
          <td>Ung kong Chau</td>
          <td>Wan Chau</td>
          <td>HK$4600</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 25 Sun</td>
          <td>Sharp Island</td>
          <td>Lan Tau Pai</td>
          <td>Nine Pins Islands	</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 27 Fri</td>
          <td>Sharp Island</td>
          <td>Pak Ma Tsui</td>
          <td>Lan Tau Pa</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 29 Sun</td>
          <td>Sharp Island</td>
          <td>Basalt Island</td>
          <td>One Foot Rock</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 30 Fri</td>
          <td>Sharp Island</td>
          <td>Shek Ngau Chau</td>
          <td>Pak Lap Tsai</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>
        <tr>
          <td>July 31 Sat</td>
          <td>Sharp Island</td>
          <td>Whiskey beach</td>
          <td>Shek Ngau Chau</td>
          <td>HK$460</td>
          <td></td>
          <td>Sai Kung/08:45</td>
        </tr>
         <tr class="highlight01">
          <th scope="col">Date-August</th>
          <th scope="col">Training Boat A</th>
          <th scope="col">Fun Diving Boat B</th>
          <th scope="col">Fun Diving Boat C</th>
          <th scope="col">Fun Diving - Fee</th>
          <th scope="col">Night Dive-Fee (+HK$250)</th>
          <th scope="col">Departure Time-Pier</th>
        </tr>
        <tr>
          <td>August 1 Sun</td>
          <td>Sharp Island</td>
          <td>Cheung Tsui, Tuen Tsui</td>
          <td>Back of Sharp Island</td>
          <td>HK$540</td>
          <td>Night Dive</td>
          <td>Sai Kung/08:45</td>
        </tr>

      </tbody>
    <table/>
    <p>Equipment Rental (Full gear - BCD, Mask & Snorkel, Regulator, Wetsuit, Boots & Fins (torch +HK$50)) Please mark size on form. </p>
    
    
</div>
    
<table class="table2 table-success table-striped" >
    <h3 class="table3">Boat diving fee & schedule</h3>
    <thread>
    {{!-- <tr>
        <th scope="col">Boat diving Fee & Schedule</th>
    </tr>    --}}
    <tr>
        <th scope="col">Item(s)/Equipment(s)"</th>
        <th scope="col">Price <em>(*price per person)</em></th>
    </tr>
    </thread>
    <tbody>
        <tr>
            <td>Training Boat (A): 09:00-13:00, 14:00-18:00</td>
            <td>Schedule arrange by Instructor</td>
        </tr>
        <tr>
            <td>Fun Diver, (Boat (B) or (C)) 08:45 - 18:00</td>
            <td>HK$460 - HK$540</td>
        </tr>
        <tr>
            <td>Non-diver/Snorkeling</td>
            <td>HK$290</td>    
        </tr>
        <tr>
            <td>1 Night Dive</td>
            <td>HK$250</td>    
        </tr>
        <tr>
            <td>
                <dl>
                    <dd>Full Scuba gear Rental</dd>
                    <dd>Regulator + BCD</dd>
                    <dd>BCD</dd>
                    <dd>Regulator</dd>
                    <dd>Boots & Fins</dd>
                    <dd>Wetsuit</dd>
                    <dd>Mask & Snorkel</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dd>HK$200</dd>
                    <dd>HK$150</dd>
                    <dd>HK$80</dd>
                    <dd>HK$80</dd>
                    <dd>HK$50</dd>
                    <dd>HK$50</dd>
                    <dd>HK$30</dd>
                </dl>
            </td>        
        </tr>
        <tr>
            <td> 
                <dl>
                    <dd>Extra Tank</dd>
                    <dd>Upgrade to Nitrox 32 Tank</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dd>HK$80</dd>
                    <dd>HK$150</dd>
                </dl>

            </td>    
        </tr>
        <tr>
            <td> 
                <dl>
                    <dd>Discovery Snorkeling</dd>
                    <dd>Discovery Scuba Diving</dd>
                    <dd>reActivate (*You have not Scuba dive for awhile and need a recap!*)</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dd>HK$500</dd>
                    <dd>HK$1,300</dd>
                    <dd>HK$1,300</dd>
                </dl>

            </td>    
        </tr>
    </tbody>
</table>
<div class="container-2">
    <dl>
        <dt class="crop">
            <img class="pic" src="/img-course/saikung-pier.png" style="position:absolute; left:900px; bottom:300px;">
            <img class="map" src="/img-course/saikung-pier-map.png" style="position:absolute; left:900px; bottom:20px;">
        </dt>
    </dl>
</div>

{{!-- /*form*/ --}}
  <div class="funDiving_form">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <h4>Contact us for reservation</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Fun Dive, Boat B or Boat C" type="course" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset class="form-group row">
    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Equipment</legend>
    <div class="col-sm-10">
      <div class="checkboxes" class="form-check-inline-row">
    <label for="Boat-A"><input type="checkbox" id="training" />Training</label>
    <label for="Boat-fun"> <input type="checkbox" id="fun" />Fun Dive</label> 
    <label for="people">No. of Diver:</label>
  <select name="people" id="people">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
    <label for="Equip Hire"><input type="checkbox" id="equip" />Equip Hire</label>
    <label for="Night Dive"><input type="checkbox" id="Night" />Night Dive</label>
    <label for="OW"><input type="checkbox" id="OW" />OW cert</label>
    <label for="AOW"><input type="checkbox" id="AOW" />AOW cert</label>
</div>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset> 
  </form>
  </div>

<div class="things-to-know">
<img class="fun-fact" src="/img-course/10-things-to-know.jpg" width="100%">
</div>

<div class="container-3">
    <h1>Rules & Regulation (Must Read)</h1>
    <pThe above itinerary depends on the weather conditions. Bubbles reserves the right to change the itinerary and/or dive site without prior notice, and without any compensation or refund if it is deemed not safe to dive the scheduled site on the day.></p>

    <p>All participants who will participate in any underwater activities will be required to show their CERTIFICATION CARD from any Scuba Diving organization. Failure to do so the diver would not be allowed to entre the water otherwise in training with an Scuba Instructor present</p>

    <h2>Terms and Conditions</h2>
    <button type="button" class="collapsible">Regulations</button>
    <div class="content">
            <ol>
                <li>The stated dive trip fee includes boat fee, 2 dives, weights and weight belt.</li>
                <li>The dive trip fee does NOT include the dive guide fee. Before the trip, Bubbles staff/rep will check each diver ’s diving certification (C-card).</li>
                <li>Unguided diving activities must be conducted in “buddy pairs”/small groups.</li>
                <li>Each diver must hold at least the PADI Open Water Diver certification (or equivalent), must have been certified no less than 3 months prior and logged at least 20 dives.  Or  each diver must hold at least the PADI Open Water Diver certification (or equivalent), AND at least one diver must be certified as a PADI Advanced Open Water Diver (or equivalent). Any buddy pair/small group that does not meet either one of the above 2 requirements, must use guided. (please apply upon dive trip registration). For details, please refer to the “Divemaster Guide Service”.</li>
                <li>All persons boarding, both divers and non-divers, must read and sign an activity disclaimer before boarding.  All certified divers, PADI Open Water Diver or equivalent, are required to read and sign a risk & liability declaration to ensure that diving activities can be carried out safely. For the disclaimer/declaration, please refer to the diver certification and disclaimer section.</li>
                <li>In order to ensure safe diving, divers must stay well within their level of experience-, comfort and certification. Before ascending (directly or from your safety stop) you must deploy a DSMB/SMB.  A safety stop of 3 minutes at 5 mtr depth is strongly recommended. Each buddy pair or small group must have at least one DSMB/SMB.  For rental, please refer to the equipment rental table.</li>
            </ol>
    </div>
    <button type="button" class="collapsible">Booking & Payment</button>
    <div class="content">
            <ol>
                <li>Please provide the date, number of people, names of all participants, contact phone number, email address, equipment rental information (if applicable), including size, etc. when booking.</li>
                <li>After receiving your booking request, we will issue a invoice and payment method. Please pay within three days to confirm the booking, otherwise your booking may be cancelled. After payment, please send proof of payment together with the diver’s/divers’ highest qualification certification card (C-card) by email mail to: training@bubbles.com / fundiving@bubbles.com,  for diver certification verification. If you do not want to send the C-card in electronic form, you can take it on board for verification by the crew. All divers must provide certification before boarding. It is recommended that divers keep a copy of their C-card(s) on their phone, just in case one forgets to bring it.</li>
                <li>If a diver’s certification can not be verified by Bubbles ltd, crew or his/her instructor:</li>
                    <ul>
                        <li>He/she can be denied boarding our boat.</li>
                        <li>He/she can be requested to pay an additional HKD450.00 for a divemaster or instructor to dive with him/her as a “PADI Discover Scuba Diving” programme.</li>
                    </ul>
                <li>In case verification is by the diver’s instructor, this instructor will have to sign a statement confirming this.</li>
                <li>Payment can be directly made by bank transfer to: “Hong Kong and Shanghai Banking Corporation” account number: 123-123456-888, account name: Bubbles Ltd.</li>
            </ol>
    </div>
    <button type="button" class="collapsible">Departure location</button>
    <div class="content">
        <ul>
            <li>Sai Kung, "long pier"</li>
            <li>08:45, at Sai Kung Long Pier, near berth 1</li>
            <li>For all Fun Diving and Training Boats, according to schedule</li>
            <li>All guess are required to register before boarding</li>
            <li>For afternoon trip: 13:45, Sai Kung Long Public Pier No. 1 berth.</li>
            <li>For Night dive: 17:45, Sai Kung Long Public Pier No. 1 berth.</li>
            <li>Please note that location of boarding might be changed.</li>
            <li>Details will be stated when registering. If there is any change, you will be notified by telephone.</li>
            <li>All guess are required to arrive 15 minutes before departure</li>
        </ul>
    </div>
    <button type="button" class="collapsible">Cancellation and Rescheduling</button>
    <div class="content">
        <ul>
            <li>Cancellation and Re-scheduling:</li>
            <ol>
                <li>Full refund applies only when the cancellation is confirmed seven(7) days before departure day.</li>
                <li>HKD200.00 administrative fee applies for all cancellation and re-scheduling within seven(7) days before departure day.</li>
                <li>On the day of departure, no re-fund for all cancellation; HKD200.00 administrative fee applies to re-scheduling.</li>
                <li>A doctor description letter must be presented in case of any medical concerns which cause cancellation and re-scheduling, administrative fee will be waived.</li>
            </ol>

            <li>Cancellation due to adverse weather.</li>
            <ol>
                <li>In case of typhoon signal No. 1, the Thunderstorm Warning , the Yellow Rainstorm Warning, the Red Rainstorm Warning is issued within 2 hours before departure, the trip will continue; HKD200.00 administrative fee applies for those are absent.</li>
                <li>In case of typhoon signal No. 3 or higher, the Red- or Black Rainstorm Warning is issued within 2 hours before departure, the trip will be cancelled and rescheduled. No administrative fee applies.</li>
                <li>In case of weather conditions get worse during the journey and that is not suitable for water and diving activities, The boat captain will decide to continue or cancel the journey. In case of cancellation, no re-fund applies.</li>
            </ol>
        </ul>
    </div>
    <button type="button" class="collapsible">Boat Diving</button>
    <div class="content">
        <ul>
            <li>Full Boat briefing and Dive location briefing for all guess on board (All guess must be present for the briefing)</li>
            <li>Bubble ltd. Will always provide a "Divemaster Guide onboard"</li>
            <li>Our staff will verify each diver’s certification BEFORE boarding our boat. Divers can present their highest-level diver qualification/certification card by email / Whatsapp / Facebook Messenger when booking a dive trip or upon registering on the pier before boarding. Please note not the latter might cause some delay.</li>
            <li>Divemaster/Duty officer has the right to denied access to any passenger who does not comply to company rules and regulations</li>
            <li>Divemaster service can be arranged for 2 dives per trip of HK$450.00 / group (up to 5 people) Advance booking is required.</li>
            <li> All divers must be in a Buddy Pair (if you do not have a buddy, the organization will pair you with an experience diver.</li>
            <li>Each diver must hold at least the PADI Open Water Diver certification (or equivalent), must have been certified no less than 3 months prior and logged at least 20 dives.  Or Each diver must hold at least the PADI Open Water Diver certification (or equivalent), AND at least one diver must be certified as a PADI Advanced Open Water Diver (or equivalent).</li>
        </ul>
    </div>
    <button type="button" class="collapsible">Safety</button>
    <div class="content">
        <ul>
            <li>All divers must abide by the safety guidelines and the disclaimer (he/she read and signed) when diving.</li>
            <li>If staff or crew finds that a diver’s behaviour, or use of modified/unsafe equipment, endangers the safety of themself and/or anybody else, the duty officer or captain has the right to immediately suspend his/her/their diving activities. No compensation nor refund will be made.</li>
            <li>In case you get separated from your buddy/buddies/group, search underwater for 1 minute at most. If not found, ascent to the surface and look for your buddy/buddies/group. If you don’t see your buddy/buddies/group on the surface within 3 minutes, please immediately notify the Boat Manager, Duty Officer or the captain (or any staff member easiest to contact) so they can take make appropriate action immediately.</li>
        </ul>
    </div>
    <button type="button" class="collapsible">Equipment</button>
    <div class="content">
        <ul>
            <li>Please refer to the chart for all Equipment rental charges</li>
            <li>Any equipment damaged or lost will be charged accordingly</li>
            <li>Weight belts, weights and Scuba tanks will be provided on boat dives</li>
            <li>All divers are required to be responsible for their OWN equipment and valuables. The company will not be responsible for any lost of personal items. </li>
        </ul>
    </div> 


</div>

<script src="/js/localBoat.js"></script>

