
 <link rel="stylesheet" href="css/pool.css"> 

<div class="poolContainer">
    <div class="picContainer">
    <img class="pokfulam" src="/img-course/stanford-pool.jpg" alt="pokfulam" width="850px" height="600px">
    <br>
    <img class="morse" src="/img-course/morsePool.jpg" alt="pokfulam" width="850px" height="600px">
    </div>
    

    
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-container-style u-layout-cell u-size-24 u-image-1" data-image-width="500" data-image-height="750">
            <div class="u-container-style u-layout-cell u-size-36 u-layout-cell-2">
            <div class="u-container-style u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
            <h1 class="heading">Pool Training & Location</h1>
            <br>
            <h4>Pok Fu Lam Standford Pool (indoor)</h4>
            <p>Address: Stanford, Chi Fu Fa Yuen - Landmark Basement</p>
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1403.2612462857687!2d114.1377713478905!3d22.257185357457036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403fff9fab92b63%3A0xe582f13537216bc6!2z6aaZ5riv6IGW5b-D5aWz5a2Q5Lit5a24!5e0!3m2!1sen!2shk!4v1623236435991!5m2!1sen!2shk" width="300" height="350" style="border:0;" ></iframe>   
            </div>
            <h4 class="morseMap">Morse Park Swimming Pool (Outdoor)</h4>
            <p>Address: 80 Fung Mo Street. Wong Tai Sin, Kowloon.</p>
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14761.303414685635!2d114.190384!3d22.3413218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9dd07873973ddf3!2sMorse%20Park%20Swimming%20Pool!5e0!3m2!1sen!2shk!4v1623294930271!5m2!1sen!2shk" width="300" height="350" style="border:0;" ></iframe>
            </div>



            </div>

        </div>
    </div>
    
    
    
    
    
    
    




</div>