.picContainer {
  /* height: 600px;
  width: 50%; */
  margin-top: 1em;
  justify-content: flex-end;
  margin-left: auto;
  position:relative;
  float: right;
}

.heading{
    margin-top: 3em;
}

.morse {
    margin-top: 2em;
}

.morseMap{
    margin-top: 5em;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    margin-left: 100px;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:70%;
    width:80%;
    position:absolute;
}