.box-container {
  cursor: pointer;
  width: 300px;
}

.box:hover {
  height: 300px;
  width: 300px;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #0a0a0a;
  background-size: 440px 340px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

/* .aware:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/Fish-identification.jpg);
  background-repeat: no-repeat;
  background-size: 440px 340px;
  background-blend-mode: multiply;
} */

.specialtyContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 8em;
}


#aware{
  background-image: url(/img-course/Fish-identification.jpg); 
}
#awareModalLong {
  font-size: 14px;
}


#nitrox{
  background-image: url(/img-course/PADI-Nitrox.jpg);
}
#nitroxModalLong {
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 450px 400px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.nitrox:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/PADI-Nitrox.jpg);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  background-blend-mode: multiply;
}

#drySuit{
  background-image: url(/img-course/Dry-suit-Diver.jpg);
}
#drySuit{
  font-size: 14px;
}

#DPV{
  background-image: url(/img-course/dpv-specialty.jpg);
}
#DPV{
  font-size: 14px;
}

#wreck{
  background-image: url(/img-course/Wreck-Diver.jpeg);
}
#wreck{
  font-size: 14px;
}

#deep{
  background-image: url(/img-course/deep-diver.jpeg);
}
#deep{
  font-size: 14px;
}

#naturalist{
  background-image: url(/img-course/Underwater-Naturalist.jpg);
}
#naturalist{
  font-size: 14px;
}


#night{
  background-image: url(/img-course/night-diving.jpg);
}
#night{
  font-size: 14px;
}

#search{
  background-image: url(/img-course/search.jpg);
}
#search{
  font-size: 14px;
}
#photographer{
  background-image: url(/img-course/PADI-Digital-Underwater-Photographer.jpg);
}
#photographer{
  font-size: 14px;
}

#navigation {
  background-image: url(/img-course/Underwater-Navigator.jpg);
}
#navigation{
  font-size: 14px;
}

#buoyancy {
  background-image: url(/img-course/Peak-Performance-buoyancy.jpg);
}
#buoyancy{
  font-size: 14px;
}



