.specialtyContainer {
  margin-top: 7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
}

.aware{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/Fish-identification.jpg);
  background-repeat: no-repeat;
  background-size: 440px 340px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.aware:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/Fish-identification.jpg);
  background-repeat: no-repeat;
  background-size: 440px 340px;
  background-blend-mode: multiply;
}


.nitrox{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/PADI-Nitrox.jpg);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.nitrox:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/PADI-Nitrox.jpg);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  background-blend-mode: multiply;
}

.drySuit{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/Dry-suit-Diver.jpg);
  background-repeat: no-repeat;
  background-size: 360px 330px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.drySuit:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/Dry-suit-Diver.jpg);
  background-repeat: no-repeat;
  background-size: 360px 330px;
  background-blend-mode: multiply;
}

.DPV{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/dpv-specialty.jpg);
  background-repeat: no-repeat;
  background-size: 360px 330px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.DPV:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/dpv-specialty.jpg);
  background-repeat: no-repeat;
  background-size: 360px 330px;
  background-blend-mode: multiply;
}

.wreck{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/Wreck-Diver.jpeg);
  background-repeat: no-repeat;
  background-size: 490px 430px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.wreck:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/Wreck-Diver.jpeg);
  background-repeat: no-repeat;
  background-size: 490px 430px;
  background-blend-mode: multiply;
}

.deep{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/deep-diver.jpeg);
  background-repeat: no-repeat;
  background-size: 490px 430px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.deep:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/deep-diver.jpeg);
  background-repeat: no-repeat;
  background-size: 490px 430px;
  background-blend-mode: multiply;
}

.naturalist{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/Underwater-Naturalist.jpg);
  background-repeat: no-repeat;
  background-size: 400px 300px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.naturalist:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/Underwater-Naturalist.jpg);
  background-repeat: no-repeat;
  background-size: 400px 300px;
  background-blend-mode: multiply;
}

.night{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/night-diving.jpg);
  background-repeat: no-repeat;
  background-size: 480px 300px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.night:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/night-diving.jpg);
  background-repeat: no-repeat;
  background-size: 480px 300px;
  background-blend-mode: multiply;
}

.search{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/search.jpg);
  background-repeat: no-repeat;
  background-size: 450px 340px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.search:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/search.jpg);
  background-repeat: no-repeat;
  background-size: 450px 340px;
  background-blend-mode: multiply;
}

.photographer{
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/PADI-Digital-Underwater-Photographer.jpg);
  background-repeat: no-repeat;
  background-size: 460px 340px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.photographer:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/PADI-Digital-Underwater-Photographer.jpg);
  background-repeat: no-repeat;
  background-size: 460px 340px;
  background-blend-mode: multiply;
}

.navigation {
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/Underwater-Navigator.jpg);
  background-repeat: no-repeat;
  background-size: 400px 360px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.navigation:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/Underwater-Navigator.jpg);
  background-repeat: no-repeat;
  background-size: 400px 360px;
  background-blend-mode: multiply;
}

.buoyancy {
  margin: 2em;
  height: 300px;
  width: 300px;
  font-size: 16px;
  color: white;
  background-image: url(/img-course/Peak-Performance-buoyancy.jpg);
  background-repeat: no-repeat;
  background-size: 450px 360px;
  object-fit: scale-down;
  border: 1px #5a5a5a solid;
}

.buoyancy:hover {
  background-color: rgb(10, 84, 141, .8);
  background-image: url(/img-course/Peak-Performance-buoyancy.jpg);
  background-repeat: no-repeat;
  background-size: 450px 360px;
  background-blend-mode: multiply;
}